[submodule "plugins/caas_aspace_sova_button"]
	path = plugins/caas_aspace_sova_button
	url = https://github.com/lorawoodford/caas_aspace_sova_button.git
[submodule "plugins/caas_aspace_refid"]
	path = plugins/caas_aspace_refid
	url = https://github.com/lorawoodford/caas_aspace_refid.git
[submodule "plugins/lassb-ead-exporter"]
	path = plugins/lassb-ead-exporter
	url = https://github.com/lorawoodford/lassb-ead-exporter.git
[submodule "plugins/snac_aspace_plugin"]
	path = plugins/snac_aspace_plugin
	url = https://github.com/lorawoodford/snac_aspace_plugin.git
[submodule "plugins/aspace_content_warnings"]
	path = plugins/aspace_content_warnings
	url = https://github.com/Smithsonian/aspace_content_warnings.git
[submodule "plugins/as_spreadsheet_bulk_updater"]
	path = plugins/as_spreadsheet_bulk_updater
	url = https://github.com/Smithsonian/as_spreadsheet_bulk_updater
